In [3]:
import pandas as pd
train = pd.read_csv('./train.csv')
train.columns

Index(['id', 'Marital status', 'Application mode', 'Application order',
       'Course', 'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [6]:
train.isnull().sum()

id                                                0
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [4]:
test = pd.read_csv('./test.csv')
test.columns

Index(['id', 'Marital status', 'Application mode', 'Application order',
       'Course', 'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP'],
      dtype='object')

In [7]:
test.isnull().sum()

id                                                0
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
dtype: int64

In [14]:
train.Target.value_counts()
X = train.drop(['Marital status', 'Application mode', 'Application order', 'Target'], axis=1)
Y = train.Target

0        Graduate
1         Dropout
2         Dropout
3        Enrolled
4        Graduate
           ...
76513    Graduate
76514    Graduate
76515    Enrolled
76516     Dropout
76517    Graduate
Name: Target, Length: 76518, dtype: object
          id  Course  Daytime/evening attendance  Previous qualification  \
0          0    9238                           1                       1
1          1    9238                           1                       1
2          2    9254                           1                       1
3          3    9500                           1                       1
4          4    9500                           1                       1
...      ...     ...                         ...                     ...
76513  76513    9254                           1                       1
76514  76514    9254                           1                       1
76515  76515    9085                           1                       1
76516  76516    9070                           1                       1
76517  76517    9773                           1                       1

       Previous qualification (grade)  Nacionality  Mother's qualification  \
0                               126.0            1                       1
1                               125.0            1                      19
2                               137.0            1                       3
3                               131.0            1                      19
4                               132.0            1                      19
...                               ...          ...                     ...
76513                           121.0            1                      19
76514                           125.0            1                       1
76515                           138.0            1                      37
76516                           136.0            1                      38
76517                           133.1            1                      19

       Father's qualification  Mother's occupation  Father's occupation  ...  \
0                          19                    5                    5  ...
1                          19                    9                    9  ...
2                          19                    2                    3  ...
3                           3                    3                    2  ...
4                          37                    4                    9  ...
...                       ...                  ...                  ...  ...
76513                       1                    7                    5  ...
76514                      38                    4                    9  ...
76515                      37                    9                   10  ...
76516                      37                    5                    9  ...
76517                      19                    4                    9  ...

       Curricular units 1st sem (without evaluations)  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
...                                               ...
76513                                               0
76514                                               0
76515                                               2
76516                                               0
76517                                               0

       Curricular units 2nd sem (credited)  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0
...                                    ...
76513                                    0
76514                                    0
76515                                    0
76516                                    0
76517                                    0

       Curricular units 2nd sem (enrolled)  \
0                                        6
1                                        6
2                                        6
3                                        8
4                                        7
...                                    ...
76513                                    6
76514                                    6
76515                                    5
76516                                    6
76517                                    6

       Curricular units 2nd sem (evaluations)  \
0                                           7
1                                           9
2                                           0
3                                          11
4                                          12
...                                       ...
76513                                       8
76514                                       9
76515                                       8
76516                                       0
76517                                       6

       Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                        6                         12.428571
1                                        0                          0.000000
2                                        0                          0.000000
3                                        7                         12.820000
4                                        6                         12.933333
...                                    ...                               ...
76513                                    5                         10.600000
76514                                    6                         13.875000
76515                                    5                         11.400000
76516                                    0                          0.000000
76517                                    6                         13.666667

       Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                   0               11.1
1                                                   0               11.1
2                                                   0               16.2
3                                                   0               11.1
4                                                   0                7.6
...                                               ...                ...
76513                                               0               13.9
76514                                               0                9.4
76515                                               1                9.4
76516                                               0                7.6
76517                                               0               15.5

       Inflation rate   GDP
0                 0.6  2.02
1                 0.6  2.02
2                 0.3 -0.92
3                 0.6  2.02
4                 2.6  0.32
...               ...   ...
76513            -0.3  0.79
76514            -0.8 -3.12
76515            -0.8 -3.12
76516             2.6  0.32
76517             2.8 -4.06

[76518 rows x 34 columns]

In [17]:
#undersampling
min_class_count = Y.value_counts().min()
train_undersampled = train.groupby('Target').sample(n=min_class_count, random_state=1)

X_undersampled = train_undersampled.drop('Target', axis=1)
y_undersampled = train_undersampled['Target']
y_undersampled.Target.value_counts()

AttributeError: 'Series' object has no attribute 'Target'

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)